body {
	background-color: lavender;
}

h1 {
	font-family: 'verdana';
	font-size:  16px;
	color: blue;
	text-align: center;
	border:  1px green;
	background-color:  #D3D3D3;
	height:  30px;
	border-radius:  10px;
}

h2 {
	font-size:  14px;
	color: white;
	text-align: left;
}

p {
	font-family: 'verdana';
	font-size: 12px;
}

img {
	border:  1px solid green;
	border-radius: 25px;
	background: #73AD21;
	padding: 20px;
}

label {
	font-family: 'verdana';

}

input {
	font-family: 'verdana';

}

button {
	font-family: 'verdana';
	border: none;
  	color: Black;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}

button.shop {
	font-family: 'verdana';
	border: none;
  	color: Black;
  	padding: 7px 16px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
	border-radius: 16px;
}

div.a {
  text-align: center;
}


/* testing */

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}